/* Global styles */
body {
    background-image: url('pics/background_pics/dalle_background2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

/* Text elements */
h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
    font-size: 1.3em;
    font-weight: bold;
}

p {
    font-size: 1.1em;
    text-align: justify;
    margin-bottom: 20px;
    line-height: 1.6;
}

/* Links */
a {
    color: #1a73e8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Common box style */
.contact-box, .about-us-section {
    border: 2px solid lightgrey;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: block;
    width: 100%;
}

/* Flexbox for alignment */
.contact-wrapper, .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Specific text style */
.contact-text {
    flex-grow: 1;
}

.year {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    padding-left: 10px;
}

/* Image style */
.center img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
